.my-custom-class {
    --background: #222;
}

.sc-ion-searchbar-ios-h {
    padding-left: inherit;
    padding-right: inherit;
}

.submit-button {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}