<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>View Country</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="country">
    <ion-item id="countryCityId" [routerLink]="['/app-global-city']"
        [queryParams]="{countryCode: country.countryCode}">
        <ion-avatar slot="start">
            <img src="assets/city.png" id="countryImageUrl" />
        </ion-avatar>
        <ion-label>
            {{country.countryCode}}-City
        </ion-label>
    </ion-item>
    <ion-item id="countryBankId" [routerLink]="['/app-global-bank']"
        [queryParams]="{countryCode: country.countryCode}">
        <ion-avatar slot="start">
            <img src="assets/bank.png" id="countryImageUrl" />
        </ion-avatar>
        <ion-label>
            {{country.countryCode}}-Bank
        </ion-label>
    </ion-item>
    <ion-item id="countryWalletId" [routerLink]="['/app-global-wallet']"
        [queryParams]="{countryCode: country.countryCode}">
        <ion-avatar slot="start">
            <img src="assets/wallet.png" id="countryImageUrl" />
        </ion-avatar>
        <ion-label>
            {{country.countryCode}}-Wallet
        </ion-label>
    </ion-item>
</ion-content>