<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>View Wallet</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="countryWallets">
    <ion-item id="countryCityId">
        <ion-avatar slot="start">
            <img src="{{countryWallets.countryImageUrl}}" id="countryImageUrl" />
        </ion-avatar>
        <ion-searchbar class="ion-item-1" placeholder="Search City"
            [(ngModel)]="query" id="listSearch" debounce="500" mode="ios">
        </ion-searchbar>
    </ion-item>
    <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let wallet of countryWallets.wallets | searchFilter: query;let i=index;">
            <ion-item>
                <ion-avatar slot="start">
                    <img [src]="wallet.walletImageUrl ? wallet.walletImageUrl : 'assets/Not-Found.png'" id="walletImageUrl" />
                </ion-avatar>
                &nbsp;
                <ion-label>{{wallet.walletName}}</ion-label>
                <ion-toggle [checked]="wallet.enabled === 'Y' ? true: false"
                    (ionChange)="enableDisableWallet(i, $event.detail.checked, wallet)"
                    color="dark" slot="end">
                </ion-toggle>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="editWalletDetail(wallet);slidingItem.close()" color="dark">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="deleteBank(i, wallet);slidingItem.close()" color="danger">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="addWallet();">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>