.error-lable {
    margin-left: 14px;
    font-family: auto;
}

ion-img {
    width: 50px;
    margin-top: 20px;
}

ion-toggle {
    margin-top: 15px;
}

.submit-button {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}

ion-title {
    padding-inline: 0px;
}