<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Bank</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="bankForm" (ngSubmit)="updateBank(bankForm.value)" >
        <div class="img-wrapper" *ngIf="bankImageFile">
            <img [src]="bankImageFile.link" id="bankImageUrl"/>
            <ion-button color="light" onclick="document.querySelector('#exampleInputFile').click()">
                <ion-icon slot="icon-only" name="camera-outline" color="medium"></ion-icon>
            </ion-button>
            <input type="file" id="exampleInputFile" (change)="imagesPreview($event)" accept="image/png, image/gif, image/jpeg" style="display: none;">
        </div>
        <ion-item class="ion-item-1" id="country">
            <ion-label position="stacked" color="medium">Country</ion-label>
            <ion-input type="text" class="form-control" name="country" formControlName="country" disabled></ion-input> 
            <ion-img *ngIf="country" slot="end" src="{{country.countryImageUrl}}"></ion-img>
                &nbsp;
            <ion-toggle formControlName="enabled" id="enabled" color="dark" slot="end"></ion-toggle>
        </ion-item>
        <ion-item class="ion-item-2" id="bankName">
            <ion-label position="stacked" color="medium">Bank Name</ion-label>
            <ion-input type="text" class="form-control" name="bankName" formControlName="bankName"></ion-input>
        </ion-item>
        <ion-label *ngIf="bankForm.get('bankName').hasError('required') && (bankForm.get('bankName').touched || submitted)"
            color="danger" class="error-lable">
            Bank name required
        </ion-label>
        <ion-button class="submit-button" type="submit" expand="block" [disabled]="bankForm?.invalid">Submit</ion-button>
    </form>
</ion-content>
